
<div class="text-center">
    <h1 class="display-4">Operaciones<h1>
   
</div>
<div>
    <h4>Operaciones Basicas --  <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Ir</a></h4>
    <br />
    <h4>Operaciones Trigonometricas -- <a class="btn btn-primary" asp-controller="Trigonometria" asp-action="Trigonometria">Ir</a></h4>
    <br />

    <h4>Operacion Raíz -- <a class="btn btn-primary" asp-controller="Raices" asp-action="Raices">Ir</a></h4>
    <br />

    <h4>Operacion Potencia -- <a class="btn btn-primary" asp-controller="Potencia" asp-action="PotenciaView">Ir</a></h4>
    <br />
</div>
