
<div class="text-center">
    <h1 class="display-4">Operaciones<h1>
   
</div>
<div>
    <h4>Operaciones Basicas --  <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Ir</a></h4>
    <br />
    <h4>Operaciones Trigonometricas -- <a class="btn btn-primary" asp-controller="Trigonometria" asp-action="Trigonometria">Ir</a></h4>
    <br />

    <h4>Operacios (Raíz, Potencia) --<button type="submit" class="btn btn-primary">Ir</button></h4>
    <br />

</div>
