@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h1 class="display-4">Operaciones<h1>
   
</div>
<div>
    <h4>Operaciones Basicas -- <button type="submit" class="btn btn-primary">Ir</button></h4>
    <br />
    <h4>Operaciones Trigonometricas --<button type="submit" class="btn btn-primary">Ir</button></h4>
    <br />

    <h4>Operacios (Raíz, Potencia) --<button type="submit" class="btn btn-primary">Ir</button></h4>
    <br />

</div>
